PUSHI 10
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
READ
ATOI
STOREG 2
READ
ATOI
STOREG 3
READ
ATOI
STOREG 4
READ
ATOI
STOREG 5
PUSHG 0
PUSHG 0
MUL
PUSHG 0
MUL
PUSHG 2
MUL
PUSHG 0
PUSHG 0
MUL
PUSHG 3
MUL
ADD
PUSHG 0
PUSHG 4
MUL
ADD
STOREG 1
PUSHG 1
WRITEF
PUSHS "\n"
WRITES
PUSHG 0
PUSHG 5
MUL
PUSHG 3
PUSHG 4
DIV
PUSHI 2
MOD
SUB
STOREG 1
PUSHG 1
WRITEF
PUSHS "\n"
WRITES
STOP