PUSHI 0
PUSHI 0
PUSHI 0
START
READ
ATOI
STOREG 0
READ
ATOI
STOREG 1
READ
ATOI
STOREG 2
PUSHG 0
PUSHI 0
EQUAL
PUSHG 1
PUSHI 0
EQUAL
PUSHG 2
PUSHI 0
EQUAL
OR
OR
PUSHG 0
PUSHG 1
ADD
PUSHG 2
INFEQ
PUSHG 0
PUSHG 2
ADD
PUSHG 1
INFEQ
PUSHG 1
PUSHG 2
ADD
PUSHG 0
INFEQ
OR
OR
OR
JZ l0
PUSHG 0
WRITEF
PUSHS "\n"
WRITES
JUMP l0f
l0: NOP
PUSHG 0
PUSHI 1
ADD
STOREG 0
PUSHG 0
WRITEF
PUSHS "\n"
WRITES
l0f: NOP
STOP