PUSHI 7
PUSHI 4
PUSHI 0
PUSHI 1
START
l1c: NOP
PUSHG 3
PUSHI 5
INFEQ
JZ l1f
PUSHG 0
PUSHG 3
MUL
PUSHG 1
PUSHI 2
MUL
ADD
PUSHG 3
PUSHI 1
ADD
DIV
STOREG 2
PUSHG 2
PUSHI 15
PUSHI 2
DIV
EQUAL
JZ l0
PUSHG 2
WRITEF
PUSHS "\n"
WRITES
JUMP l0f
l0: NOP
PUSHG 3
WRITEF
PUSHS "\n"
WRITES
l0f: NOP
PUSHG 3
PUSHI 1
ADD
STOREG 3
JUMP l1c
l1f: NOP
STOP