PUSHI 0
PUSHN 10
PUSHN 9
START
PUSHGP
PUSHI 11
PADD
PUSHI 2
PUSHI 3 
MULPUSHI 2

ADD
PUSHI 3
STOREN
PUSHGP
PUSHI 11
PADD
PUSHI 0
PUSHI 3
MUL
PUSHI 0
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 11
PADD
PUSHI 0
PUSHI 3
MUL
PUSHI 1
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 11
PADD
PUSHI 0
PUSHI 3
MUL
PUSHI 2
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHS "\n"
WRITES
PUSHGP
PUSHI 11
PADD
PUSHI 1
PUSHI 3
MUL
PUSHI 0
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 11
PADD
PUSHI 1
PUSHI 3
MUL
PUSHI 1
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 11
PADD
PUSHI 1
PUSHI 3
MUL
PUSHI 2
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHS "\n"
WRITES
PUSHGP
PUSHI 11
PADD
PUSHI 2
PUSHI 3
MUL
PUSHI 0
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 11
PADD
PUSHI 2
PUSHI 3
MUL
PUSHI 1
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 11
PADD
PUSHI 2
PUSHI 3
MUL
PUSHI 2
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHS "\n"
WRITES
l0c: NOP
PUSHG 0
PUSHI 10
INF
JZ l0f
PUSHGP
PUSHI 1
PADD
PUSHG 0
PUSHG 0
STOREN
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP l0c
l0f: NOP
PUSHGP
PUSHI 1 
PADD
PUSHI 0
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1 
PADD
PUSHI 1
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1 
PADD
PUSHI 2
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1 
PADD
PUSHI 3
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1 
PADD
PUSHI 4
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1 
PADD
PUSHI 5
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1 
PADD
PUSHI 6
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1 
PADD
PUSHI 7
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1 
PADD
PUSHI 8
LOADN
WRITEI
PUSHS " "
WRITES
PUSHGP
PUSHI 1 
PADD
PUSHI 9
LOADN
WRITEI
PUSHS " "
WRITES
PUSHS "\n"
WRITES
STOP